APP_ENV=development

MYSQL_DSN=root:root@tcp(127.0.0.1:3307)/go_micro?parseTime=true&charset=utf8mb4&loc=Local
MYSQL_MAX_OPEN_CONNS=50
MYSQL_MAX_IDLE_CONNS=10
MYSQL_CONN_MAX_LIFETIME_SECONDS=300

REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_POOL_SIZE=20
REDIS_MIN_IDLE_CONNS=5

MQ_URL=amqp://guest:guest@localhost:5672/
MQ_EXCHANGE=order.events
MQ_QUEUE=order_reserved
MQ_ROUTING_KEY=order_reserved
MQ_DLX=order.events.dlx
MQ_DLQ=order_reserved.dlq

REFUND_MQ_EXCHANGE=refund.events
REFUND_MQ_QUEUE=refund.process
REFUND_MQ_ROUTING_KEY=refund.initiated
REFUND_MQ_DLX=refund.events.dlx
REFUND_MQ_DLQ=refund.process.dlq

JWT_SECRET=dev-secret

GATEWAY_ADDR=:8080
ORDER_ADDR=:8081
INVENTORY_ADDR=:8082
USER_ADDR=:8083
TASK_ADDR=:8084
PAYMENT_ADDR=:8085
REFUND_ADDR=:8086
ACTIVITY_ADDR=:8087
PRICE_ADDR=:8088

ORDER_GRPC_ADDR=:9081
INVENTORY_GRPC_ADDR=:9082
USER_GRPC_ADDR=:9083
TASK_GRPC_ADDR=:9084
PAYMENT_GRPC_ADDR=:9085
REFUND_GRPC_ADDR=:9086
ACTIVITY_GRPC_ADDR=:9087
PRICE_GRPC_ADDR=:9088

ORDER_GRPC_TARGET=localhost:9081
USER_GRPC_TARGET=localhost:9083
INVENTORY_GRPC_TARGET=localhost:9082
TASK_GRPC_TARGET=localhost:9084
REFUND_GRPC_TARGET=localhost:9086
ACTIVITY_GRPC_TARGET=localhost:9087
PRICE_GRPC_TARGET=localhost:9088
